exportPattern("^to\\.tensor.*")
exportPattern("\\.tensor$")
export("norm")
export("opnorm")
exportPattern("mark.*")
export("untensor")
exportPattern("as\\..*")
exportPattern("^%")
exportPattern("contraname")
exportPattern("^is\\.")
S3Method(to.tensor,default)
S3Method(ftable,tensor)
S3Method(names,tensor)
S3Method("names<-",tensor)
S3Method(dimnames,tensor)
S3Method("dimnames<-",tensor)
S3Method(norm,tensor)
S3Method(opnorm,tensor)
S3Method(reorder,tensor)
S3Method(rep,tensor)
S3Method(solve,tensor)
S3Method("[[",tensor)
S3Method("[[<-",tensor)
S3Method("[",tensor)
S3Method("%e%",tensor)
S3Method("%r%",tensor)
S3Method("+",tensor)
S3Method("-",tensor)
S3Method("*",tensor)
S3Method("/",tensor)
S3Method(mark,tensor)
S3Method(mark,numeric)
S3Method(mark,character)
S3Method("dim<-",tensor)
useDynLib(tensorA,tensoraCmulhelper,tensoramulhelper)

